.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .product-card {
    flex: 1 1 calc(33% - 40px); /* Adjust the percentage and margin to fit three items per row */
    margin: 20px;
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .product-card img.product-image {
    width: 100%;
    height: auto;
    max-height: 200px; /* Adjust max height as needed */
    object-fit: cover;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }
  
  .product-card h3 {
    font-size: 1.2em;
    margin: 10px 0;
  }
  
  .product-card p {
    font-size: 1em;
    color: #333;
  }
  
  .product-card .add-to-cart-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s;
  }
  
  .product-card .add-to-cart-button:hover {
    background-color: #218838;
  }
  