/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Background color and images for different sections */
.home-page {
  background-image: url('D:/ecommerce-app/ecommerce-app/shopping cart image.jpg');
  background-size: cover; /* Adjust as needed */
  background-position: center;
  background-repeat: no-repeat; /* Ensure it doesn't repeat */
  color: white;
  min-height: 100vh;
  padding: 20px;
}

.category-page {
  background-color: #f0f0f0; /* light grey background */
  padding: 20px;
}


.checkout-page {
  background-color: #e6fff5; /* light mint background */
  padding: 20px;
}

.product-card {
  background-color: white;
  padding: 20px;
  border: 1px solid #ddd;
  margin: 20px;
  border-radius: 8px;
  width: 250px; /* Adjust width as needed */
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-card img.product-image {
  width: 100%;
  height: auto;
  max-height: 150px; /* Adjust max height as needed */
  object-fit: cover;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.product-card h3 {
  font-size: 1.2em;
  margin: 10px 0;
}

.product-card p {
  font-size: 1em;
  color: #333;
}

.product-card .add-to-cart-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.product-card .add-to-cart-button:hover {
  background-color: #218838;
}

/* Layout styles */
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Header Styles */
.header {
  background-color: #333;
  padding: 15px 30px; /* Increase padding for a larger header */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 1.5em; /* Adjust font size for the header title if needed */
  margin: 0;
}

.header nav {
  display: flex;
}

.header nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px; /* Adjust spacing between links */
  font-size: 1.2em; /* Adjust font size for links */
}

.header nav a:hover {
  text-decoration: underline;
}

/* Footer styles */
.footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}
